{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron">

    <h1>Please Register Here</h1>

      {% if error_key1 %}
        <h2>{{error_key1}}</h2>
      {% endif %}

      {% if error_key2 %}
        <h2>{{error_key2}}</h2>
      {% endif %}

    <form action="" method="POST">
      {% csrf_token %}
      <label for="username">User Name:</label>
      <input type="text" name="username" placeholder="Enter UserName"><br/><br/>

      <label for="pwd1">Password:</label>
      <input type="password" name="pwd1" placeholder="Enter Password"><br/><br/>

      <label for="pwd2">Password Again:</label>
      <input type="password" name="pwd2" placeholder="Confirm Password"><br/><br/>

      {% if error_key %}
        <h2>{{error_key}}</h2>
      {% endif %}

      <button type="submit" class="btn btn-primary" value="Signup">Sign Up</button>

    </form>

  </div>

{% endblock %}
