{% extends 'base.html' %}

{% load staticfiles %}
{% block head %}

	<meta charset="utf-8">
	<title>Asset management: Home Page</title>
	<link rel="stylesheet" href="{% static "css/custome.css" %}">

{% endblock %}

{% block content %}
<div class="container">
	<div class="col-md-8 offset-md-2">
	<H2>Hello World</H2>
</div>
<div class="row">
	<div class="col-md-6">
		<h4>Asset Management</h4>
		<div class="lead">Asset management refers to maintain the product and item details in a very calculative method such as maintains things of value to an entity or group. It also maintains the operations, monitoring, development and upgrading. Here in this asset management project, we are maintaining our company assets such as Laptop, Desktop, Furniture and all.</div>
	</div>

	<div class="col-md-6">
		<a><img src="{% static 'img/asset-entery.jpg' %}" height=""></a>
	</div>
</div> <!--Row-->
<!-- {% for asset in assets %} -->
<!-- <div class="item-detail">
	<div class="item">
		<p>{{ asset.item }}</p>
		<p>{{ asset.category }}</p>
		<p>{{ asset.serial }}</p>
		<p>{{ asset.number }}</p>
	</div>
</div> -->
<!-- {% endfor %} -->
</div>

{% endblock %}
